@import url('https://fonts.googleapis.com/css?family=Play:700');

.chessboard-board-layout-fade-out{
    animation: chessboard-board-layout-keyframes-fade-out .5s ease-in 0s 1 normal forwards;
}

.chessboard-board-layout-fade-in{
    animation: chessboard-board-layout-keyframes-fade-in .5s ease-out 0s 1 normal forwards;
}

@keyframes chessboard-board-layout-keyframes-fade-out {
    0%   { opacity:  1 }
    100% { opacity: .4 }
}

@keyframes chessboard-board-layout-keyframes-fade-in {
    0%   { opacity: .4 }
    100% { opacity:  1 }
}

.chessboard-move-animation {
    animation: chessboard-animate-move .15s ease-out 0s 1 normal forwards;
    z-index: -10;
}

.chessboard-target-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.8;
}

.chessboard-coordinate-ul{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1px 0 0 1px;
    font-family: 'Play';
}

.chessboard-coordinate-br{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 1px 0px 0;
    font-family: 'Play';
}

.chessboard-square-layout {
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
}

.chessboard-piece-layout {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: move;
    user-select: none;
}

.chessboard-drag-layout {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
}

.chessboard-promotion-layout {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    justify-content: center;
}

.chessboard-board-layout {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
